/* Override some defaults */
html, body {

}
/*body {
  padding-top: 60px; /* 40px to make the container go all the way to the bottom of the topbar */
/*} 													DELETE THISSSSS
*/
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal !important;
    text-transform: uppercase;
}

h1,
h3 {
    font-family: "Quadon Medium", "Rockwell Bold", serif;
}

h2 {
    font-family: "Quadon Regular", Rockwell, serif;
}

h4,
h5,
h6 {
    font-family: "Gentona Bold", "Arial Bold", sans-serif;
}

h1 {
    font-size: 80px;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 29px;
}

h4 {
    font-size: 22px;
    line-height: 1.2;
    color: #318dde;
    margin: 0;
}

h5 {
    font-size: 16px;
    color: white;
    background-color: #000;
    padding: 11px 14px;
    margin: 0;
}

h6 {
    font-size: 18px;
    font-weight: normal !important;
    margin: 0;
}
/*.container > footer p {
  text-align: center;
}

.container {
  width: 970px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}													DELETE ALL CONTAINER STUFF
*/
#banner-container {
  width: 100%;
  /*margin-top: 20px;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: -10px;
  background-image:
     linear-gradient(180deg, #b3cde0, black);
  /*background-color: #b3cde0;*/
  /*background-attachment: fixed;*/
}

#banner-title  {
  margin: auto;
  padding: 5% 0px;
  width: 70%;
}

#banner-title p {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 80px;
  font-weight: 200;
  color: #404040;
  line-height: 50px;
  text-align: center;
}

#banner-subtitle p {
  font-size: 24px;
}
.span14 {
  width: 970px;
}

#banner-social {
  text-align: center;
  margin-top: 40px;

}


/* The white background content wrapper */
.content {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  /*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
}

.link-btn {
    background-color: white;
    border: 2px solid #555555;
    border-radius: 8px;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 1px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
    color: black;
}

.link-btn:hover {
    background-color: #555555;
    color: white;
    text-decoration: none;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.content p {
   font-size: 16px;
   line-height: 24px;
}

.content ul {
   margin-top:8px;
   font-size: 16px;
   line-height: 24px;
}

.content li {
   margin-bottom: 7px;
}

.content h1 {
   font-size:28px;
}

/* navigation, topbar*/
#logo-wrap {
   float: left;
   padding-top: 5px;
   margin-top: 8px;
   margin-bottom: 8px;
}

#nav-bar {
  margin-left: 20px;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 50px;
}

#nav-bar li {
  margin-top: 10px;
  margin-right:15px;
}

.topbar .btn {
  border: 0px;
}
.topbar {
	background-color:black;
	text-align:center;
}
/* active color use default */
.topbar div>ul .active>a, .nav .active>a {
   background-color: rgb(42, 42, 42);
}
.nav {
    background: #f4f4f4;
    /*     display: inline-block; */
    float: left;
    width: 210px;
    min-height: 100%;
    position: fixed;
    z-index: 999;
    display: block;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 0 3px 210px;
    border-color: transparent transparent transparent #e1e1e1;
    bottom: -4px;
    left: 0px;
    position: absolute;
}

.logo {
    padding: 22px 20px;
    display: block;
    background: white;
    position: relative;
}

.logo:hover h4 {
    color: #318dde;
}

.logo img {
    display: inline-block;
    float: left;
}

.logo h4 {
    display: inline-block;
    float: left;
    padding-left: 13px;
    padding-top: 4px;
    color: #020202;
    transition: 0.3s ease all;
}

.nav ul {
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
}

.nav ul li {
    border-bottom: 1px solid #e1e1e1;
}

.nav ul li h5 {
    background: none;
    color: #144b7c;
    padding: 13px 0px 13px 22px;
    font-size: 18px;
    transition: 0.3s ease all;
}

.nav ul li ul {
    margin-top: -.5em;
    z-index: 2;
    background: #f4f4f4;
}

.nav ul li ul li {
    border-bottom: none;
}

.nav ul li ul:last-child {
    margin-bottom: .8em;
}

.nav ul li ul li h6 {
    text-indent: 15%;
}

.nav ul li ul li a:hover {
    color: #222;
}

.nav ul li ul li h6:hover {
    background: white;
}

.nav ul li h5:hover {
    background: white;
}

.nav ul.bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: -1px;
}

.nav ul.bottom li {
    border-bottom: none;
}

.nav ul.bottom li h5 {
    color: #494949;
    font-size: 14px;
}

.nav ul.bottom li h5.copy {
    background: #494949;
    color: white;
    padding: 13px 0px;
    text-align: center;
}

.nav ul.bottom li h5.copy:hover {
    background: white;
    color: #494949;
}
/* blog */
.bloglist ul {
  margin-top: 10px;
}

.bloglist li {
  margin-top: 4px;
  margin-bottom: 25px;
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}

.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}


.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight {
  background-color: #f8f8f8;
}
/* COMMENTING OUT SECTION TOUT STUFF */

/*
.section-tout{
  padding:3em 0 3em;
  border-bottom:1px solid rgba(0,0,0,.05);
  background-color:#eaf1f1;
  text-align:center;
}
.section-tout .fa{
  margin-right:.5em
}

.section-tout h3{
  font-size:20px;
}

.section-tout p {
  margin-bottom:2em;
}
*/
.github-btn { border: 0; overflow: hidden }

/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}												DELETE ALL CONTAINER STUFF
*/
/*.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-4, .col-sm-4 {
  position: absolute;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-sm-4 {
    float: left;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .col-lg-4 {
    float: left;
    width: 40%;
  }
}

.col-lg-8, .col-sm-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-sm-8 {
    float: right;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .col-lg-8 {
    float: right;
    width: 60%;
  }
} */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ************ ALL THE CODE FOR THE TIMELINE *************** */
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    background-image:
     linear-gradient(175deg, #b3cde0, #404040);
}

/* Container around content */
.cont {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.cont::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -10px;
    background-color: #404040;
    border: 4px solid #404040;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}
.empty {
	height: 25vh;
	text-align: center;
}	
.empty::after {
	opacity: 0.0;
}
/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #404040;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #404040;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #404040;
    border-width: 10px 10px 10px 0;
    border-color: transparent #404040 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -21px;
}

/* The actual content */
.content_timeline {
    padding: 20px 30px;
    background-color: #404040;
    position: relative;
    border-radius: 6px;
    color:white;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
    background-color:transparent;
    background-image:none;
  }
  /* Full-width containers */
  .cont {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .content_timeline {
    left: -15px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .cont::before {
    left: 60px;
    border: medium solid transparent;
    border-width: 10px 10px 10px 0;
    border-color: transparent transparent transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
    display: none;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
  
}
/************************** SIDEBAR FOR DOCS **************************/
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: auto;
    background-color: white;
    overflow-x: hidden;
    padding-top: 100px;
    border-right: solid;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 15px;
    /*color: #818181;*/
    display: block;
}

.sidenav a:hover {
    color: black;
}

.main {
    margin-left: 300px; /* Same as the width of the sidenav */
    margin-top: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.argLeft {
    width: 20%;
    float: left;
}	
.argLeft p {
    height: 80px;
}
.argRight p {
    height: 80px;
}
.docSect h4 {
    border-top: double;
    border-bottom: double;
}
.main h3 {
    color: black;
    text-align:center;
}
.main h4 {
    text-align:center;
}
.main h2 {
    text-align:center;
}
.aboutSect p {
    font-size: 10pt;
}
.docSect p {
    font-size: 10pt;
}
.anchor{
  display: block;
  height: 90px; /*same height as header*/
  margin-top: -90px; /*same height as header*/
  visibility: hidden;
}
/**************** PANNING INFO *****************/
.mySlides {
	display:none;
	text-align:center;
	height:250px;
}
.mySlides img {
	height: 225px;
	width:350px;
}
.wht {
    background-color:#404040;
}
.hover-wht {
    background-color:transparent;
}
.hover-wht:hover {
    background-color:#404040;
}	
.arrow_left, .arrow_right, .badge {cursor:pointer}
.arrow_left {
	float:left;
	color:#404040;
	font-size: 20pt;
}
.arrow_right {
	float:right;
	color:#404040;
	font-size: 20pt;
}
.badge {
    height:13px;
    width:13px;
    padding:5px;
    color: #404040;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
    border-radius: 15px;
    border-color: #404040;
    border:solid;
}
.cont_display {
    text-align:center;
    color:white;
    /*background-color:#404040;*/
    width:50%;
    float: right;
    transform:translate(0%,0%);
    -ms-transform:translate(0%,0%);
    /*border-radius:15px;*/
    border-left:solid;
    border-color: #404040;
    height:300px;
    padding:15px;
}
.cont_details {
	float: left;
	width: 40%;
	margin-left: 5%;
	text-align: center;
        color: white;
        /*background-color: #404040;*/
	padding:15px;
}
.cont_row {
	background-color: #ECECEC;
	border:solid;
	border-color:lightgrey;
	padding: 15px;
}
.detail {
	height:30%;
	color: #404040;
}
.detail h3 {
	color: #404040;
}
