<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Le fav and touch icons -->

</head>
  <body>
    <div class = "nav">
      <div class = "logo clearfix active">
        <a href="{{BASE_PATH}}"> 
          <h4> Randomer Forest </h4> 
        </a>
      </div>
      <div class = "links">
        <ul>
        <li>
          <a href = "https://neurodata.io/" target = "_blank"> <h5> NeuroData </h5></a> </li>
        <li>
          <a href = "https://github.com/neurodata/RerF" target = "_blank"> <h5> GitHub </h5></a> </li>
        </ul>
      </div>
    </div>
    <div class = "main">
      {{ content }}
      {% include JB/analytics %}
    </div>
  </body>
</html>
